@font-face {
    font-family: "MCFont";
    src: url("Minecraftfont.ttf") format("truetype");
}

body 
{
    background-image: url("Images/MainBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    font-family: "MCFont", sans-serif;
}

.mainB
{
    background-color: rgb(37, 37, 37);

    margin: auto;
    margin-top: 20vh;

    padding-left: 8vw;
    padding-right: 8vw;
    padding-top: 5vh;
    padding-bottom: 5vh;

    height: 100rem;
    width: 90vw;

    box-sizing: border-box;
}

h1, h2, h3, p1, p11, p2, p21, li 
{
    color: white;
}